In [1]:
## Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chuy,UY,2022-11-13 08:46:42,-33.6971,-53.4616,66.70,87,98,9.60
1,1,Ushuaia,AR,2022-11-13 08:46:43,-54.8000,-68.3000,47.86,46,0,1.14
2,2,Ponazyrevo,RU,2022-11-13 08:46:43,58.3578,46.3142,37.20,85,100,14.32
3,3,Potoci,BA,2022-11-13 08:46:43,43.4086,17.8786,53.11,62,75,2.30
4,4,Saint-Philippe,RE,2022-11-13 08:46:44,-21.3585,55.7679,80.19,70,18,6.04

In [3]:
#check the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = abs(city_data_df["Max Temp"])
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#add center and zoom level
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#create a percent humidity map
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#create map foor cloudinness
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Saint-Philippe,RE,2022-11-13 08:46:44,-21.3585,55.7679,80.19,70,18,6.04
7,7,Antalaha,MG,2022-11-13 08:46:45,-14.9003,50.2788,82.17,59,23,16.28
11,11,Salalah,OM,2022-11-13 08:46:46,17.0151,54.0924,84.29,54,0,10.36
12,12,Georgetown,MY,2022-11-13 08:44:46,5.4112,100.3354,87.73,76,20,8.05
15,15,Simoes,BR,2022-11-13 08:46:47,-7.5989,-40.8178,75.81,72,41,7.20
21,21,Mineros,BO,2022-11-13 08:46:48,-17.1167,-63.2333,77.25,70,73,10.92
22,22,Dungarpur,IN,2022-11-13 08:46:48,23.8333,73.7167,85.15,20,9,7.29
25,25,Dingle,PH,2022-11-13 08:46:49,10.9995,122.6711,80.37,87,100,8.32
32,32,Bhanpuri,IN,2022-11-13 08:46:51,21.1000,80.9167,82.09,31,23,5.21
37,37,Axim,GH,2022-11-13 08:46:52,4.8699,-2.2405,81.68,76,93,5.59

In [11]:
#checking that there is no null value in Dataframe
#preferred_cities_df.isnull().sum()
preferred_cities_df.count()
#we can also run df.count() and df.notnull().sum() fun for getting same output

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [12]:
#dropping null value

filter_df=preferred_cities_df.dropna()
filter_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Saint-Philippe,RE,2022-11-13 08:46:44,-21.3585,55.7679,80.19,70,18,6.04
7,7,Antalaha,MG,2022-11-13 08:46:45,-14.9003,50.2788,82.17,59,23,16.28
11,11,Salalah,OM,2022-11-13 08:46:46,17.0151,54.0924,84.29,54,0,10.36
12,12,Georgetown,MY,2022-11-13 08:44:46,5.4112,100.3354,87.73,76,20,8.05
15,15,Simoes,BR,2022-11-13 08:46:47,-7.5989,-40.8178,75.81,72,41,7.20
...,...,...,...,...,...,...,...,...,...,...
528,528,Kalabo,ZM,2022-11-13 09:00:22,-14.9700,22.6814,82.08,51,76,8.72
529,529,Bindura,ZW,2022-11-13 09:00:23,-17.3019,31.3306,82.96,41,41,7.70
532,532,Dhidhdhoo,MV,2022-11-13 09:00:24,6.8833,73.1000,81.36,75,53,11.56
535,535,Beira,MZ,2022-11-13 09:00:25,-19.8436,34.8389,88.65,52,92,8.55
538,538,Garowe,SO,2022-11-13 09:00:27,8.4054,48.4845,87.39,32,80,10.18

In [13]:
#create the copy of preferred_cities_df
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filter_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4   Saint-Philippe      RE     80.19 -21.3585   55.7679
7         Antalaha      MG     82.17 -14.9003   50.2788
11         Salalah      OM     84.29  17.0151   54.0924
12      Georgetown      MY     87.73   5.4112  100.3354
15          Simoes      BR     75.81  -7.5989  -40.8178
21         Mineros      BO     77.25 -17.1167  -63.2333
22       Dungarpur      IN     85.15  23.8333   73.7167
25          Dingle      PH     80.37  10.9995  122.6711
32        Bhanpuri      IN     82.09  21.1000   80.9167
37            Axim      GH     81.68   4.8699   -2.2405

In [14]:
#Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Saint-Philippe,RE,80.19,-21.3585,55.7679,Le four à pain
7,Antalaha,MG,82.17,-14.9003,50.2788,Hotel Vitasoa
11,Salalah,OM,84.29,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
12,Georgetown,MY,87.73,5.4112,100.3354,Cititel Penang
15,Simoes,BR,75.81,-7.5989,-40.8178,Hotel Ponto Certo
21,Mineros,BO,77.25,-17.1167,-63.2333,Colpacaranda Eco Resort
22,Dungarpur,IN,85.15,23.8333,73.7167,Gayatri Hotel
25,Dingle,PH,80.37,10.9995,122.6711,SEGAYA PROPERTY
32,Bhanpuri,IN,82.09,21.1000,80.9167,OM FARMHOUSE
37,Axim,GH,81.68,4.8699,-2.2405,Axim Beach Resort And Spa

In [17]:
import gmaps.datasets

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))